

<div class="">
  <h1>
  profile page
  </h1>

  <!-- user image -->
  <img src="<%= @user.image %>" >
  <br>
  <!-- user's email -->
  email: <%= @user.email %>
  
  <!-- user's note DONT USE IT YET -->
  <!-- email: <%= @user.note %> -->

</div>

