

<div class=container">
  <h3>
  profile page
  </h3>

  <!-- user image -->
  <img src="<%= @user.image %>" class="profile_pic" >
  <br>
  <div class="profile_note">
    <p> Hello :/ </p>
  </div>
  <input type="button" value="Mail" onClick="window.location.href='mailto:someone@gmail.com';"></input>
  <!-- user's email -->
  email: <%= @user.email %>


</div>

