

<div class=container">
  <h1>
  profile page
  </h1>

  <!-- user image -->
  <img src="<%= @user.image %>" >
  <br>
  <div class="profile_note">
    <p> Hello :/ </p>
  </div>
  <input type="button" value="Mail" onClick="window.location.href='mailto:someone@gmail.com';"></input>
  <!-- user's email -->
  email: <%= @user.email %>


</div>

