<img class="logo-transparent" src="assets/q-logo.png" alt="Qarma logo, orange circle with
    white Q in the center" height="256px" width="auto">

<div class="main-content">
  <h1>QARMA</h1>
  <p class="slogan">An online platform to report and retrieve lost and found objects for travelers abroad.</p><br>

</div>