<div class="home-container ">
Splash page here :)
<br>

<% if current_user %>
  Logged in!
  <%= link_to "Go to profile", user_path(current_user) %>
  <% else %>
  Log in above ^ 
  <% end %>

 
    
  
</div>